.container1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.profile{
    width: 183px;
    height: 183px;
    background-image: url(https://i.pinimg.com/736x/aa/3c/60/aa3c606016e9f5791e57763b9846fc21.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 180%;
    position: relative;
    align-items: center;
}
.notify{
    width: 40px;
    height: 40px;
    background-color: #ee6b6e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: -6px;
    right: 25px;
}
.botton{
    background-color: beige;
    width: 50px;
    height: 30px;
}
.row{
    padding: 15px;
    flex-direction: row;
    justify-content: center;
}
.container6{
    background-color: tan;
    justify-content: center;
    flex-direction: row;
    display: flex

}
.list{
    transform: translateY(-100px);
    position: relative;
    overflow: scroll;
    width: 1000px;
    height: 500px;
}
.list1{
    display: flex;
    justify-content: space-around;
}